# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
*.env

# VS Code local settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database local files / dumps
*.db
*.sqlite
*.sqlite3
*.duckdb

# Logs
*.log